.anon .lock {
  display: block;
  position: relative;
  min-height: 20px;
}

.anon .lock.guest::before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: red;
  font-size: 18px;
  text-align: center;
  content: 'Bạn phải đăng nhập để xem nội dung (Miễn Phí). <span class="header-buttons"><button class="widget-button btn btn-primary btn-small sign-up-button btn-text"><span class="d-button-label">Đăng ký</span></button><button class="widget-button btn btn-primary btn-small login-button btn-icon-text"><svg class="fa d-icon d-icon-user svg-icon svg-node" aria-hidden="true"><use xlink:href="#user"></use></svg><span class="d-button-label">Đăng nhập</span></button></span>';
}
